{% extends 'base.html' %} {% block title %}Add Post {% endblock %} {% block
content %}
<h1 class="h1">Tags</h1>
<form action="/tags/{{tag.id}}/edit" method="POST">
  <div class="row mb-3">
    <label for="title" class="col-sm-2 col-form-label">Title</label>
    <div class="col-sm-4">
      <input
        type="text"
        class="form-control"
        id="tagName"
        name="tagName"
        value="{{tag.name}}"
      />
    </div>
  </div>
  {%if posts %} {%for post in posts%}
  <div class="form-check">
    <input
      class="form-check-input"
      type="checkbox"
      value="{{post.id}}"
      name="tags"
      id="{{post.id}}"
      {%if
      tag
      in
      post.tags%}checked
      {%endif%}
    />
    <label class="form-check-label" for="{{post.id}}"> {{post.title}} </label>
  </div>
  {%endfor%} {%endif%}
  <div class="text-right col-sm-6">
    <a href="/tags" class="btn btn-secondary mr-2">Cancel</a>
    <button type="submit" class="btn btn-success">Edit</button>
  </div>
</form>
{%endblock%}
