{% extends 'base.html' %} {% block title %}Add Post {% endblock %} {% block
content %}
<h1 class="h1">Add Post For {{user.full_name}}</h1>
<form action="/users/{{ user.id }}/posts/new" method="POST">
  <div class="row mb-3">
    <label for="title" class="col-sm-2 col-form-label">Title</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="title" name="title" />
    </div>
  </div>
  <div class="row mb-3">
    <label for="content" class="col-sm-2 col-form-label">Content</label>
    <div class="col-sm-10">
      <textarea class="form-control" id="content" name="content"></textarea>
    </div>
  </div>
  {%if tags %} {%for tag in tags%}
  <div class="form-check">
    <input
      class="form-check-input"
      name="tags"
      type="checkbox"
      value="{{tag.name}}"
      id="tag-{{tag.id}}"
    />
    <label class="form-check-label" for="tag-{{tag.id}}"> {{tag.name}} </label>
  </div>
  {%endfor%} {%endif%}
  <div class="text-right">
    <button type="button" class="btn btn-secondary mr-2">Cancel</button>
    <button type="submit" class="btn btn-primary">Add</button>
  </div>
</form>
{%endblock%}
