{% extends 'base.html' %} {% block title %} Details {{user.first_name}} {%
endblock %} {% block content %}

<div class="card mb-3" style="max-width: 540px">
  <div class="row g-0">
    <div class="col-md-4">
      <img
        src="{{ user.image_url if user.image_url else url_for('static',filename='images/user.png') }}"
        class="img-fluid rounded-start"
        alt="..."
      />
    </div>
    <div class="col-md-8">
      <div class="card-body p-1">
        <h5 class="card-title">{{user.full_name}}</h5>
        <a href="/users/{{user.id}}/edit" class="btn btn-primary">Edit</a>
        <a href="/users/{{user.id}}/delete" class="btn btn-danger">Remove</a>
        <div>
          <h5 class="card-title mt-2">Posts</h5>
          {% if user.posts %}
          <ul>
            {%for post in user.posts%}
            <li><a href="/posts/{{post.id}}">{{post.title}}</a></li>
            {%endfor%}
          </ul>
          {% else %}
          <p>No posts created.</p>
          {% endif %}
        </div>
        <a href="/users/{{user.id}}/posts/new" class="btn btn-primary my-2"
          >Add Post</a
        >
      </div>
    </div>
  </div>
</div>

{%endblock%}
